{%load static%}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=yes" />
  <meta name="keywords" content="Todo, List, Todo-List" />
  <meta name="description" content="This will be one of the nicest TODO-Lists ever created" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <title>Add new Todo</title>


  <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{%static 'todo/css/material-icons.css'%}" type="text/css" />
  <link rel="stylesheet" href="{%static 'todo/css/style.css'%}" type="text/css" />

  <!--

        Webdesign by Markus Städler, weberlin-design.de, markus.staedler@weberlin-design.de

    -->

</head>

<body class="position-relative">

  <header class="container-fluid text-center p-1">
    <a href="index.html" class="text-decoration-none">My Todo-List.html</a>
  </header>

  <h1 class="text-center p-5">Felix' Todo-List - Add a new Todo</h1>

  <div class="container-xl">
    <form action="" method="POST" role="form">
    {% csrf_token %}
      <div class="form-group row">
        <div class="col-sm-4">
          <label for="Deadline" class="heading-label font-weight-bold col-form-label">Deadline:</label>

  {{ form.date }}

        </div>
        <div class="col-sm-8">
          <label for="Task" class="heading-label font-weight-bold col-form-label">Task:</label>
          {{ form.text}}
        </div>
      </div>

      <div class="form-group row">
        <div class="col">
          <div class="custom-control custom-switch pl-0">
            <span class="font-weight-bold heading-label">Do you want your progress tracked?</span>


            <input class="custom-control-input" type="checkbox" id="progress-switch" data-toggle="collapse"
              data-target="#progress-collapse">
            <label class="font-weight-bold heading-label custom-control-label ml-5 mt-1" for="progress-switch"></label>
            {{ form.track}}


          </div>
        </div>
      </div>




      <div class="row" id="progress-collapse">
        <div class="col">
          <label for="progress" class="pb-5 font-weight-bold heading-label col-form-label">How much has already been
            done?</label>
          <p>
            <span style="margin: auto; display:table">
            {{form.progress}}
            </span>
          </p>
          <input type="range" class="custom-range" id="myRange" value="0">
        </div>
      </div>

      <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("progresspercent");
        output.innerHTML = slider.value + "%";
        slider.oninput = function () {
          output.innerHTML = this.value + "%";
        }
      </script>

      <div class="mt-3 clear row justify-content-around">
        <input type="submit" class="btn btn-outline-primary" role="button" value="Submit">
        <a class="btn btn-outline-primary cancel" href="index.html" role="button">Cancel</a>
      </div>
    </form>
  </div>

  <footer class="text-center mt-5 p-4 fixed-bottom">
    <a class="d-inline-block mb-3" href="impressum.html">Impressum</a>
    <br />
    <p class="m-0"><span class="align-top">&copy;</span> My Todo-List</p>
  </footer>


  <script src="{%static 'todo/js/jquery.min.js'%}"></script>
  <script src="{%static 'todo/js/popper.min.js'%}"></script>
  <script src="{%static 'todo/js/bootstrap.min.js'%}"></script>
  <script src="{%static 'todo/js/script.js'%}"></script>
</body>

</html>
