{%load static%}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=yes" />
  <meta name="keywords" content="Todo, List, Todo-List" />
  <meta name="description" content="This will be one of the nicest TODO-Lists ever created" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <title>Delete one Todo</title>


  <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{%static 'todo/css/material-icons.css'%}" type="text/css" />
  <link rel="stylesheet" href="{%static 'todo/css/style.css'%}" type="text/css" />

  <!--

        Webdesign by Markus Städler, weberlin-design.de, markus.staedler@weberlin-design.de

    -->

</head>

<body>

<p> Are you sure you want to delete "{{item}}"?</p>

<a href= "{%url 'index'%}"> Cancel </a>

<form method="POST" action="">

    {%csrf_token%}
    <input type="submit" value="Confirm">

</form>


  <footer class="text-center mt-5 p-4 fixed-bottom">
    <a class="d-inline-block mb-3" href="impressum.html">Impressum</a>
    <br />
    <p class="m-0"><span class="align-top">&copy;</span> My Todo-List</p>
  </footer>


  <script src="{%static 'todo/js/jquery.min.js'%}"></script>
  <script src="{%static 'todo/js/popper.min.js'%}"></script>
  <script src="{%static 'todo/js/bootstrap.min.js'%}"></script>
  <script src="{%static 'todo/js/script.js'%}"></script>
</body>

</html>