{%load static%}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="Todo, List, Todo-List" />
    <meta name="description" content="This will be one of the nicest TODO-Lists ever created" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Awesome TODO-List</title>

    <link rel="stylesheet" href="{%static 'todoList/css/material-icons.css'%}" type="text/css" />
    <link rel="stylesheet" href="{%static 'todoList/css/style.css'%}" type="text/css" />

    <!--

        Webdesign by Markus Städler, weberlin-design.de, markus.staedler@weberlin-design.de

    -->

</head>
<body class="position-relative">

  <header class="container-fluid text-center p-1">
    <a href="{% url 'index'%}" class="text-decoration-none">My Todo-List.html</a>
  </header>

  <h1 class="text-center p-5 mb-4">Felix' Todo-List</h1>

  <div class="container-xl">
    <div class="row table-header mb-3 font-weight-bold border-bottom border-dark">
      <div class="col-1">
        <!-- placeholder -->
      </div>
      <div class="col-9 row text-left">
        <div class="col-sm-4 deadline">
          Deadline
        </div>
        <div class="col-sm-8">
          Task
        </div>
      </div>
      <div class="col-1">
        <!-- placeholder -->
      </div>
      <div class="col-1">
        <!-- placeholder -->
      </div>
    </div>

    <!-- Dynamic Content starts exactly here -->

    {% for todo in todo_list %}

      {# if todo is done, add a class to it #}
      {% if todo.done %}
      <div class="row mb-1 position-relative border-top todo task-done">
      {% else %}
      <div class="row mb-1 position-relative border-top todo">
      {% endif %}
        <div class="progress col-12 position-absolute">
          {% if todo.trackProgress or todo.done %}
          <div class="progress-bar" role="progressbar" style="width: {{todo.progress}}%;"></div>
          {% else %}
          <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
          {% endif %}
        </div>
        <div class="col-1">
          <a class="stretched-link todo-done"><i class="material-icons">done</i></a>
        </div>
        <div class="col-9 row text-left font-weight-bold">
          <div class="col-sm-4 deadline">
            {{ todo.date }}
          </div>
          <div class="col-sm-8">
            <a class="stretched-link task" href="{% url 'edit' todo.id %}">{{ todo.text }}</a>
          </div>
        </div>
        <div class="col-1">
          {{ todo.progress }}%
        </div>
        <div class="col-1">
          <a class="delete" data-toggle="modal" data-target="#delete-modal"><i class="material-icons">clear</i></a>
        </div>
      </div>

    {% endfor %}

    <div class="row justify-content-center">
      <a href="{% url 'add'%}" class="mt-3 btn btn-outline-primary" role="button" aria-pressed="true">
        <i class="material-icons align-top">add</i>
        Add new Todo
      </a>
    </div>

  </div>

  <footer class="text-center mt-5 p-4">
    <a class="d-inline-block mb-3" href="{% url 'impressum'%}">Impressum</a>
    <br />
    <p class="m-0"><span class="align-top">&copy;</span> My Todo-List</p>
  </footer>

  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Todo wirklich löschen?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Willst du das Todo "<span class="task-name"></span>" wirklich löschen?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn delete-btn">Löschen!</button>
        </div>
      </div>
    </div>
  </div>

  <script src="{%static 'todoList/js/jquery.min.js'%}"></script>
  <script src="{%static 'todoList/js/popper.min.js'%}"></script>
  <script src="{%static 'todoList/js/bootstrap.js'%}"></script>
  <script src="{%static 'todoList/js/script.js'%}"></script>
</body>
</html>
