@import "../bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: "Yanone Kaffeesatz";
    src: url(../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

$bg-color: color("teal");

body {
  background: $bg-color;
}
